body{
    width: 1920px;
    height: 1080px;
    background: url("/assets/bodyBackgroundImg.jpg") no-repeat;
    background-size: 1920px 1080px;
    font-family: "微软雅黑";
}
a { 
    text-decoration:none; 
} 
.box{
    // background: #fff;
    width: 100%;
    height:100%;
    .head{
        width: 100%;
        height: 78px;
        .current_status{
            position: absolute;
            right: 290px;
            line-height: 78px;
            span{
                color:#fff;
                font-size: 20px;
            }
        }
        .nav{height:42px;position:relative;float:left;padding-top:17px;}
        .nav ul{height:42px;position:relative;}
        .nav ul li:nth-child(1){background:url("/assets/nav.png") right center no-repeat;}
        .nav ul li{position:absolute;height:42px;line-height:42px;color:#FFF;border-top-right-radius:21px;text-align:center;border-bottom-right-radius:21px;font-size:16px;padding:0 20px 0 30px;
        -moz-box-shadow:2px 0 2px #01506A;box-shadow:2px 0 2px #01506A;background:#01698B;cursor:pointer;}
        .nav ul li:hover{background:#0099FF;}
        .nav ul li:active{background:#0099FF;}
        .nav ul li:nth-child(1){background:#0099FF url("/assets/nav.png") right 10px center no-repeat;}
        .nav ul li.no-have{background:#ccc;box-shadow:2px 0 2px #333;color:#666;}
    }
    .content{
        margin: 21px 21px;
        padding: 7px;
        height:-moz-calc(100% - 100px); 
        height:-webkit-calc(100% - 100px); 
        height: calc(100% - 100px);
        width:-moz-calc(100% - 42px); 
        width:-webkit-calc(100% - 42px); 
        width: calc(100% - 42px);
        position: relative;
        .left_search{
            margin: 2px;
            width: 400px;
            height: 945px;
            background: rgba(0,0,0,0.9);
            position: relative;
            .left_search_title{
                height: 40px;
                width: 100%;
                padding: 7px 16px;
                line-height: 25px;
                h3{
                    color: #fff;
                    font-size: 16px;
                    display: inline-block;
                    font-family: "微软雅黑";
                }
            }
           
            .left_search_content{
                // background: #fff;
                width: 96%;
                height:-moz-calc(100% - 52px); 
                height:-webkit-calc(100% - 52px); 
                height: calc(100% - 52px);
                padding: 14px 0;
                padding-left: 14px;
                .left_search_content_dim{
                    width: 100%;
                    height: 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .left_search_content_dim_input{
                        width: 55%;
                        height: 30px;
                        text-align: center;
                        border: 0;
                        color: #fff;
                    }
                    
                }
                .left_search_content_pull{
                    width: 100%;
                    height: 30px;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;
                    .s{
                        width: 30%;
                        height: 100%;
                        font-size: 14px;
                        cursor: pointer;
                        color: #fff;
                        border: 0;
                        // background: transparent;
                    }
                    option{
                        color: #000;
                    }
                }
                .left_search_content_result{
                    width: 100%;
                    height:-moz-calc(100% - 120px); 
                    height:-webkit-calc(100% - 120px); 
                    height: calc(100% - 120px);
                    margin-top: 20px;
                    overflow-y: auto;
                    .left_search_content_result_list{
                        height: 30px;
                        width: 100%;
                        text-align: center;
                        line-height: 30px;
                        margin-bottom: 10px;
                        cursor: pointer;
                        color:#fff;
                        background: url("/assets/list_background.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    .list_background{
                        background: url("/assets/list_background1.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    // .left_search_content_result_list:nth-child(odd){
                    //     background: #424348;
                    // }
                    .left_search_content_result_list1{
                        width: 100%;
                        margin-bottom: 10px;
                        // display: none;
                        cursor: pointer;
                        
                        .li_background{
                            background:#f00;
                        }
                        ul , li{
                            list-style: none;
                        }
                        ul{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom:4px;
                            margin-top: -5px;
                        }
                        li{
                            height: 30px;
                            width: 21%;
                            line-height: 30px;
                            font-size: 14px;
                            text-align: center;
                            color: #fff;
                            background:url("/assets/table_background.png") no-repeat;
                            background-size: 100% 100%;
                        }
                        li:hover{
                            background:url("/assets/table_background1.png") no-repeat;
                            background-size: 100% 100%;

                        }
                        .li_click_background{
                            background:url("/assets/table_background1.png") no-repeat;
                            background-size: 100% 100%;
                        }
                        
                        .left_search_content_result_list1_input{
                            width: 100%;
                            height: 30px;
                            margin-bottom:4px;
                            line-height: 30px;
                            text-align: center;
                            color: #fff;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .left_search_content_dim_input1{
                                height: 30px;
                                width: 55%;
                                text-align: center;
                                line-height: 30px;
                                color: #fff;
                                border: 0;
                            }
                        }
                        .left_search_content_result_list1_input_result{
                            width: 100%;
                            height: 30px;
                            margin-bottom:4px;
                            line-height: 30px;
                            text-align: center;
                            color: #fff;
                            font-size: 14px;
                            h3{
                                font-size:14px;
                            }
                        }

                        // .left_search_content_result_list1_input_result:hover{
                        //     background: url("/assets/sxt_list_background.png") no-repeat;
                        // }

                        .sxt_background{
                            background: url("/assets/sxt_list_background.png") no-repeat;
                        }

                    }
                }
                
            }
            .slide-button-left{
                background: url("/assets/slide.png") no-repeat;
                position:absolute;
                top: 50%;
                right: 2px;
                cursor: pointer;
                width: 12px;
                height: 35px;
                z-index: 999;
            }
        }
        
        .right_warning{
            position: absolute;
            top: 8px;
            right: 8px;
            background: rgba(0,0,0,0.9);
            width: 380px;
            height: 140px;
            // overflow-y: o;
            .slide-button-right{
                background: url("/assets/slide.png") no-repeat;
                position:absolute;
                top: 50%;
                left: 4px;
                cursor: pointer;
                width: 12px;
                height: 35px;
                z-index: 999;
            }
            .right_warning_title{
                line-height: 40px;
                h3{
                    color: #fff;
                    margin-left: 15px;
                    font-size: 16px;
                }
                .right_warning_title_num{
                    display:inline-block; 
                    width:50px; 
                    text-align: right;
                    margin-right: 10px;
                }
            }
            .right_warning_list{
                width: 100%;
                height: 100px;
                overflow-y: auto;
                padding:0 8px;
                overflow-x: hidden;
                .right_warning_list_num{
                    margin:13px 13px;
                    padding-left: 8px;
                    height: 31px;
                    width: 96%;
                    overflow: hidden;
                    display: flex;

                    .gaojing_icon{
                        background:url("/assets/gaojingchongtu.png");
                        width: 31px;
                        height: 31px;
                    }
                    .gaojing_icon_1{
                        background:url("/assets/gaojingjiejue.png");
                        width: 31px;
                        height: 31px;
                    }
                    span{
                        color: #fff;
                    }
                    .right_warning_list_num_time{
                        .right_warning_list_num_time_1{
                            font-size: 16px;
                            margin-right: 10px;
                        }
                        .right_warning_list_num_time_2{
                            font-size: 12px;
                            color: #00CCFF;
                        }
                    }
                    .right_warning_list_num_content{
                        display: flex;
                        font-size: 14px;
                        margin-left: -5px;
                        .right_warning_list_num_content_2{
                            display: inline-block;
                            width: 72px;
                        }
                        
                        .right_warning_list_num_content_2{
                            width: 190px;
                            overflow:hidden;
                            text-overflow:ellipsis; 
                            white-space: nowrap;/*加宽度width属来兼容部分浏览*/
                            color:#fff;
                        }
                    }
                    
                }
                
            }
            
        }
        .content_video{
            position: absolute;
            right: 8px;
            bottom: 28px;
            width: 311px;
            height:261px;
            background: rgba(0,0,0,0.9);
            // display: flex;
            .content_video_head{
                position: relative;
                width: 100%;
                height:30px;
                display: flex;
                justify-content: space-between;
                span{
                    color: #fff;
                    font-size: 16px;
                    line-height: 30px;
                    margin-left:5%;
                }
                .content_video_head_right{
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .content_video_head_right_minimize{
                        background: #fff;
                        width: 25px;
                        height: 25px;
                        background: url("/assets/smallmaphide.png") no-repeat center;
                    }
                }

            }
            .h5videodiv{
                width: 100%;
                height:-moz-calc(100% - 30px); 
                height:-webkit-calc(100% - 30px); 
                height: calc(100% - 30px);
                video{
                    width: 100%;
                    height: 100%;
                }
            }
            .content_video_button{
                position: absolute;
                bottom: 8px;
                right: 8px;

                ul, li{
                    list-style:none;
                }
                ul{
                    display: flex;
                }
                li{
                    margin:0 8px;
                    width: 10px;
                    height: 10px;;
                    border-radius: 50%;
                    border:solid 2px salmon;
                }
                .change1{
                    background:salmon;
                }
            }
        }
        .content_video_icon{
            display: none;
            width: 30px;
            height: 30px;
            background: url("/assets/shexiangtou1.png") no-repeat center;
            position: absolute;
            right:0;
        }
        #btns{
            position: absolute;
            bottom: 41px;
            left: 22%;
            width: 37px;
            div{
                margin-bottom: 10px;
            }
            .tucengtubiao-luwang{
                margin-left: 10px;
                float: left;
                background: url("/assets/luwang.png") no-repeat;
                background-size: 36px 37px;
                height: 36px;
                width: 37px;
                cursor: pointer;
            }
            .tucengtubiao-luwang:hover{background:url("/assets/luwangxuanting.png") no-repeat;}
            .tucengtubiao-luwang.sel{background:url("/assets/luwangxuanzhong.png") no-repeat;}
            
            .tucengtubiao-honglvdeng{
                margin-left: 10px;
                float: left;
                background: url("/assets/honglvdeng.png") no-repeat;
                background-size: 36px 37px;
                height: 36px;
                width: 37px;
                cursor: pointer;
            }
            .tucengtubiao-honglvdeng:hover{background:url("/assets/honglvdengxuanting.png") no-repeat;}
            .tucengtubiao-honglvdeng.sel{background:url("/assets/honglvdengxuanzhong.png") no-repeat;}
            
            .tucengtubiao-shexiangtou{
                margin-left: 10px;
                float: left;
                background: url("/assets/shexiangtou.png") no-repeat;
                height: 36px;
                width: 37px;
                cursor: pointer;
            }
            .tucengtubiao-shexiangtou:hover{background:url("/assets/shexiangtouxuanting.png") no-repeat;}
            .tucengtubiao-shexiangtou.sel{background:url("/assets/shexiangtouxuanzhong.png") no-repeat;}
        }
        #cesiumContainer{
            position: absolute;
            width: 100%;
            margin: -7px;
            height: -moz-calc(100% - 30px);
            height: -webkit-calc(100% - 30px);
            height: calc(100% - 20px);
        }
    }
}