<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Webpack App</title>
    <style type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="box">
    </div>
    <div class="hidden">
        <script type="text/javascript">
                var images = new Array()
                function preload() {
                    for (i = 0; i < preload.arguments.length; i++) {
                        images[i] = new Image()
                        images[i].src = preload.arguments[i]
                    }
                }

                preload(
                    "/assets/clear1.png",
                    "/assets/search1.png",
                    "/assets/table_background.png",
                    "/assets/list_background1.png"
                )
        </script>
    </div>
</body>

</html>