$bgColor: #fff;
$white: #333;

*{
    margin:0;padding:0;font-size:12px;list-style:none;
    text-decoration:none;box-sizing:border-box;
}

html,body{
    background:$bgColor;
    width:100%;height:100%;
}

#cesiumContainer{width:100%;height:100%;}
.cesium-viewer-bottom{display:none !important;}
.last .time{
    height: 54px;
    width: 180px;
    background: left center repeat-x;
    border-radius: 8px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}
.last .time .t_top{
    height: 48px;
    width: 50px;
    display: flex;
    align-items: center;
    line-height: 22px;
    text-align: center;
}
.last .time .t_top span{
    color: #ffffff;
    background: #01b4edb0;
    padding: 0 2px;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.last .time a{font-size:14px;color:white;margin-left:3px;font-family:digital;}
.last .time .week{font-size:14px;color:white;margin-left:3px;font-family:digital;}
.last .time .t_bott{color:white;font-size:30px;text-align:center;font-family:digital;}
.last .logout{height: 40px;
    width: 48px;
    background: url("/assets/quit.png") no-repeat;
    cursor: pointer;}
.last .logout:hover{background:url("/assets/quit-h.png") no-repeat;}
.last .logout:active{background:url("/assets/quit-a.png") no-repeat;}
.last{   
    position: absolute;    
    top: 13px;
    z-index: 99;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 3px;  /*滚动条宽度*/
    height: 10px;  /*滚动条高度*/
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 5px;  /*滚动条的背景区域的圆角*/
    background-color: #000;/*滚动条的背景颜色*/  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 5px;  /*滚动条的圆角*/
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #ccc;  /*滚动条的背景颜色*/
}  
//输入背景
.input_background{
    background:url("/assets/input_background.png") no-repeat;
    background-size: 100% 100%;
}
//摄像头list列表背景
.left_search_content_result_list1_input_result:nth-child(odd){
    background: url("/assets/sxt_list_background1.png") no-repeat;
    background-size: 100% 100%;
}

//搜索我清除按钮
.left_search_content_dim_search{
    width: 70px;
    height:25px;
    background: url("/assets/search.png") no-repeat;
    background-position:center center;
    display: inline-block;
    background-size: 100% 100%;
    cursor: pointer;
}
.left_search_content_dim_search:hover{
    background: url("/assets/search1.png") no-repeat;
    background-position:center center;
    background-size: 100% 100%;

}
.change_search{
    background: url("/assets/search1.png") no-repeat;
    background-size: 100% 100%;
    background-position:center center;
}

.left_search_content_dim_clear{
    width: 70px;
    height:25px;
    background: url("/assets/clear.png") no-repeat;
    background-position:center center;
    display: inline-block;
    background-size:100% 100%;
    cursor: pointer;
}
.left_search_content_dim_clear:hover{
    background: url("/assets/clear1.png") no-repeat;
    background-position:center center;
    background-size: 100% 100%;
}
.change_clear{
    background: url("/assets/clear1.png") no-repeat center;
    background-position:center center;
    background-size: 100% 100%;
}
.border_bottom{
    width:100%;
    height:3px;
    background: url("/assets/border_bottom.png") no-repeat;
    background-size: 100% 100%;
}